<?xml version="1.0"?>
<config>
    <modules>
        <EasySize_SizeGuide>
            <version>1.4.0</version>
        </EasySize_SizeGuide>
    </modules>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sizeguide>
                                            <title>EasySize SizeGuide Module Section</title>
                                        </sizeguide>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <sizeguide>
                    <file>sizeguide.xml</file>
                </sizeguide>
            </updates>
        </layout>
        
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <easysize_sizeguide_checkout>
                        <type>singleton</type>
                        <class>sizeguide/observer</class>
                        <method>sendTrackingData</method>
                    </easysize_sizeguide_checkout>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_cart_product_add_after>
                <observers>
                    <easysize_sizeguide_add_to_cart>
                        <type>singleton</type>
                        <class>sizeguide/observer</class>
                        <method>addToCart</method>
                    </easysize_sizeguide_add_to_cart>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>

    <global>
        <models>
            <sizeguide>
                <class>EasySize_SizeGuide_Model</class>
            </sizeguide>
        </models>

        <blocks>
            <sizeguide>
                <class>EasySize_SizeGuide_Block</class>
            </sizeguide>
        </blocks>

        <helpers>
            <sizeguide>
                <class>EasySize_SizeGuide_Helper</class>
            </sizeguide>
        </helpers>

        <resources>
            <sizeguide_setup>
                <setup>
                    <module>EasySize_SizeGuide</module>
                    <class>EasySize_SizeGuide_Model_Resource_Setup</class>
                </setup>
            </sizeguide_setup>
        </resources>

        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <easysize_sizeguide_update_product>
                        <type>singletone</type>
                        <class>sizeguide/observer</class>
                        <method>updateProductStock</method>
                    </easysize_sizeguide_update_product>
                </observers>
            </catalog_product_save_commit_after>
        </events>
    </global>
</config>
